@using WebApplication3.Models.Entity
@model List<TblHobilerim>
<section class="resume-section" id="interests">
    <div class="resume-section-content">
        <h2 class="mb-5">HOBİLERİM</h2>
        @foreach (var x in Model)
        {
            <p>@x.Aciklama1</p>
            <p class="mb-0">@x.Aciklama2</p>
        }

    </div>
</section>
<hr class="m-0" />